* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 26px;
}

.container {
  width: 15rem;
  margin: auto;
  border: solid;
  box-shadow: 3px 2px 8px gray;
}

.display {
  background-color: rgb(245, 251, 222);
  width: 100%;
}

.teclas {
  background-color: rgb(174, 174, 174);
}

.keys-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  column-gap: 4px;
  row-gap: 4px;
}

.colunas {
  background-color: azure;
}