* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 26px;
}

.container {
  width: 15rem;
  margin: auto;
  display: grid;
  justify-items: center;
  box-shadow: 3px 2px 8px gray;
}

#display {
  background-color: rgb(245, 251, 222);
  width: 100%;
}

#teclas {
  width: 100%;
  display: grid;
  justify-content:center;
  background-color: rgb(92, 89, 89);
}

.keys-container {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 3rem;
  column-gap: 2px;
  row-gap: 2px;
}

.colunas {
  background-color: azure;
}